<html><h1>Welcome to upload</h1><br>
<head> <title>Upload Story</title></head>
<body>
    <a href='/' title='Back to stories'>Back</a><br>
<form action='' method = 'POST' enctype="multipart/form-data">
    <input type= 'text' name= 'headline' maxlength= 100 placeholder = 'Enter a headline' autofocus>
    <br>
    <textarea rows=5 cols= 50 name='description' placeholder='Enter a description'></textarea>
    <br>
    <input type= 'file' name= 'photo'>
    <br>
    <input type='submit' value='submit'>
</form>
</body>
</html>